.timeline {
  position: relative;
  padding: 4rem 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--secondary-color);
  transform: translateX(-50%);
}

.timeline__item { /* Было .timeline-item */
  margin-bottom: 4rem;
  position: relative;
  width: 50%;
  padding: 0 3rem;
}

.timeline__item:nth-child(odd) { /* Было .timeline-item:nth-child(odd) */
  left: 0;
  text-align: right;
}

.timeline__item:nth-child(even) { /* Было .timeline-item:nth-child(even) */
  left: 50%;
  text-align: left;
}

.timeline__item-dot { /* Было .timeline-dot */
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--secondary-color);
  border-radius: 50%;
  top: 0;
}

.timeline__item:nth-child(odd) .timeline__item-dot { /* Было .timeline-item:nth-child(odd) .timeline-dot */
  right: -10px;
}

.timeline__item:nth-child(even) .timeline__item-dot { /* Было .timeline-item:nth-child(even) .timeline-dot */
  left: -10px;
}